<form method="post" action="{{ path('back_movie_delete', {'id': movie.id}) }}" onsubmit="return confirm('Êtes vous sur de supprimer ce film/série ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ movie.id) }}">
    <button class="btn btn-danger mt-2">Supprimer</button>
</form>
