<form method="post" action="{{ path('back_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes vous sur de supprimer cet utilisateur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger m-3">Supprimer</button>
</form>
