{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block body %}

<div class="container">

    <h1>{{ exception.message }}</h1>

    <p>Visiblement, quelque chose s'est mal passé...</p>
    
    <p><img src="{{ asset('images/confusedtravolta.jpg') }}"></p>
    
</div>

{% endblock %}